.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.txtwelcom{
  font-family: 'Fredoka One', cursive;
  /*font-family: 'Frijole', cursive;*/
  font-size: 40px;
  /*color: black;*/
  background: -webkit-linear-gradient(#034efc, #a2b7e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
