<div class="col-md-12 m-0 p-0 row container-fluid pt-5 pb-5" style="background: #EEEEEE">
  <div class="col-md-3 m-0 p-0"></div>
  <div class="col-md-6 m-0 p-0 row">
    <div class="col-md-12 m-0 mb-3">
      <h3 class="text-center" style="color: #172B4D">   Where trade winds carried legendary explorers like Marco Polo, Ibn Battuta and Fa-Hsien past Sri Lanka's
        soaring southern cliffs on some of history's
        most celebrated nautical journeys, Cape Weligama has become the most celebrated resort along this fabled
        island's palm-fringed shores.
        The hotel’s dining venues capture Weligama's iconic sunsets, as does the 60-meter crescent-shaped infinity
        pool that
        appears to flow seamlessly into the shimmering sea,
        while those timeless breezes ensure elegant swells unfurl onto the sun-kissed sand.</h3>
    </div>

    </div>
  </div>
<!--  <div class="col-md-3 m-0 p-0 mt-5"></div>-->
<!--  <div class="col-md-12 row d-flex align-items-center" style="width: 100%;justify-content: center;margin: 0;height: 50px">-->

<!--    <div style="width: 30px">-->
<!--      <a target="_blank" href="https://www.facebook.com/dasun.madushan.397/">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div style="width: 41px;margin-left: 8px">-->
<!--      <a target="_blank" href="https://www.youtube.com/channel/UC3efUB-0Of2odVf16FsKX8w">-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
  <div class="col-md-12 row m-0 w-100 justify-content-center mt-2 d-flex align-items-center">
    <div class="m-0 col-md-12 row text-center justify-content-center d-flex align-items-center mb-4">
      <div class="col-md-12 justify-content-center m-0">
        <h3 class="text-center m-0 mb-1 privacyStyle"><a class="privacyStyleA" routerLink="privacy-policy">Privacy Policy</a></h3>
      </div>
      <div class="col-md-12 justify-content-center m-0">
        <h3 class="text-center m-0 mb-1 privacyStyle"><a class="privacyStyleA" routerLink="terms-and-conditions">Terms and Conditions</a></h3>
      </div>
    </div>
    <h5 class="m-0 col-md-12 text-center">Copyright © 2020 Seacost.lk All Rights Reserved.</h5>
    <h5 class="m-0 col-md-12 text-center">Developed by <a target="_blank" href="https://www.linkedin.com/in/dilshan-herath-48b37617a//">Dilshan Herath</a></h5>
  </div>
